body {
    font-family: Helvetica, Arial, sans-serif;
    padding-top: 70px;
}

a:hover {
    text-decoration: none;
}

.progress {
    background-color: #8e8d8d;
}


/* layout.css Style */

input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

#videoPlayer {
    background-color: black;
}

.uploadedVideos {
    cursor: pointer;
}