body {
    background-color: white;
}

input::-webkit-input-placeholder {
    color: #27ae60 !important;
}

input.form-control {
    border: 1px solid #2980b9 !important;
    color: #27ae60 !important;
}

span.glyphicon.glyphicon-map-marker {
    color: #c0392b;
}

button.footer-button {
    color: white;
    background-color: transparent !important;
    border: solid;
    border-radius: 50%;
}

button.footer-button:hover {
    color: white;
    border-color: white;
}

section {}

.hobbyImage {}
.lead {
    font-size: 18px;
}
